<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/style.css">
	<script src="https://unpkg.com/spacingjs" defer></script>
	<title>Форма «Задать вопрос эксперту»</title>
</head>
<body>
	<main>
		<h1>Форма «Задать вопрос эксперту»</h1>
		<nav>
			<a href="../">⬅️ Назад к списку</a>
		</nav>
		<p>Наверди курсор на элемент и нажми ALT, затем наведи курсор на другой элемент и увидишь расстояния и размеры.</p>
		<br>
		<form action="#" class="form__ask-expert">
			<!-- 
				input__slim - Низкие поля ввода
				agree-and-submit - Когда в контейнере и кнопка и галочка
				required - Дополнительный класс для лейбла, для обязательных полей
			 -->
			<fieldset class="form__ask-expert--wrapper">

				<fieldset class="form-row form-row__two-columns">
					<div class="input-wrapper">
						<label for="name_surname"class="label__input required">Фамилия и имя</label>
						<input type="text" name="name_surname" id="name_surname" required class="input" placeholder="Данила Андреев">
						<span class="validity-icon"></span>
					</div>
					
					<div class="input-wrapper">
						<label for="email"class="label__input required">Адрес электронной почты</label>
						<input type="email" name="email" id="email" required class="input" placeholder="danila@organization.com">
						<span class="validity-icon"></span>
					</div>
					
					<div class="input-wrapper">
						<label for="county_subject"class="label__input required">Субъект РФ</label>
						<select name="county_subject" id="county_subject" required class="select" autocomplete="off">
							<option>Краснодарский край</option>
							<option>Красноярский край</option>
							<option>Красногорск</option>
						</select>
						<span class="expand-icon"></span>
					</div>
					
					<div class="input-wrapper">
						<label for="organizatoon"class="label__input required">Организация</label>
						<input type="text" name="organizatoon" id="organizatoon" required class="input" placeholder="ФАУ 'РОСДОРНИИ'">
						<span class="validity-icon"></span>
					</div>
				</fieldset>
				
				<fieldset class="form-row form-row__one-column">
					<div class="input-wrapper">
						<label for="question_summary"class="label__input required">Тема вопроса</label>
						<input type="text" name="question_summary" id="question_summary" required class="input" placeholder="Данила Андреев">
						<span class="validity-icon"></span>
					</div>
					
					<div class="input-wrapper">
						<textarea name="question" id="question" cols="80" rows="10" class="input textarea" placeholder="Текст вопроса"></textarea>
					</div>

					<div class="input-wrapper file-input-wrapper">
						<label for="q_file" class="link__btn btn__white">
							<input type="file" mutliple name="q_file" id="q_file" class="visually-hidden" aria-label="Подгрузить файл">
							Подгрузить файл
						</label>
						<ul class="q-file-list">
							<li>Презенташка_ФИНАЛ_Fin_ОтчетнаяВер_конец.pptx</li>
							<li>Фото_1.jpg</li>
							<li>klhdgdgdjsklamnmm.jpg</li>
							<li>Фото_15.jpg</li>
							<li>Презенташка_конец.pptx</li>
							<li>ddaoiio.jpg</li>
						</ul>
					</div>
				</fieldset>
				<fieldset class="form-row__submit">
					<button type="submit" class="btn__blue">Отправить</button>
				</fieldset>
			</fieldset>
		</form>
	</main>	
</body>
</html>
