<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/style.css">
	<script src="https://unpkg.com/spacingjs" defer></script>
	<title>Заголовки</title>
</head>
<body class="vcc-body">
	<main class="vcc-main">
		<h1>Заголовки</h1>
		<nav>
			<a href="../">⬅️ Назад к списку</a>
		</nav>
		<p>Наверди курсор на элемент и нажми ALT, затем наведи курсор на другой элемент и увидишь расстояния и размеры.</p>
		<br>
		<!--
			.heading-hr
		-->
		<h2 class="heading heading__hr">База знаний</h2>
		<h2 class="heading heading__hr">Популярные вопросы</h2>
		<h2 class="heading heading__hr">Вебинары</h2>

		<h3 class="heading heading__hr">База знаний</h3>
		<h3 class="heading heading__hr">Популярные вопросы</h3>
		<h3 class="heading heading__hr">Вебинары</h3>

		<h2 class="heading">База знаний</h2>
		<h2 class="heading">Популярные вопросы</h2>
		<h2 class="heading">Вебинары</h2>

	</main>
</body>
</html>
