<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/style.css">
	<title>Карточка вебинара</title>
	<script src="https://unpkg.com/spacingjs" defer></script>
	<style>
		.controls {
			width: 200px;
			padding: 10px;
			position: fixed;
			bottom: 0;
			background-color: white;
			box-shadow: 2px -2px #f2f2f2;
		}

		#dynamic_container .webinar-card {
			margin-bottom: 50px;

		}

		.note {
			margin: 0;
			padding: 7px;
			border-radius: 10px;
			font-size: smaller;
			border: 2px solid #f2f2f2;
		}
	</style>
</head>
<body>
	<main>
		<h1>Карточка вебинара</h1>
		<nav>
			<a href="../">⬅️ Назад к списку</a>
		</nav>
		<p>Наверди курсор на элемент и нажми ALT, затем наведи курсор на другой элемент и увидишь расстояния и размеры.</p>
		<br>
		<!--
			webinar-card (wc)
			webinar-card__two-rows

			wc__planned - Запланированный вебинар
			wc__on-air - Вебинар в эфире
			wc__past - Прошедщий вебинар
			wc__nobtns - карточка без кнопок
		 -->
		<section id="dynamic_container" style="margin: 0 auto; ">
			<div class="webinar-card webinar-card__two-rows wc__btns wc__planned" aria-label="Карточка вебинара">
				<div class="wc--header">
					<time class="wc--datetime" datetime="2012-12-02T16:00:00">
						<span>16:00</span>
						<span>02.12.2012</span>
					</time>
				</div>
				<div class="wc--body">
					<div class="wc--heading">
						<h3>“Обзор актуальных методик Министерства строительства и жилищно-коммунального хозяйства”</h3>
						<hr>
					</div>
					<div class="wc--main">
						<dl class="wc--speakers dl__theme" aria-label="Список спикеров">
							<div class="speakers--description">
								<dt><span class="hl__blue">ФАУ “РОСДОРНИИ”</span></dt>
								<dd>Макаров Е.Н.</dd>
							</div>
							<div class="speakers--description">
								<dt><span class="hl__blue">Российский университет транспорта (МИИТ)</span></dt>
								<dd>Гринчар Н. Н.</dd>
							</div>
							<div class="speakers--description">
								<dt><span class="hl__blue">Институт строительства и ЖКХ НИУ «Высшая школа экономики»</span></dt>
								<dd> Кулакова Н. В.</dd>
							</div>
						</dl>
					</div>
					<div class="wc--footer">
						<a href="#" class="link__btn btn__white">Подробнее</a>
						<a href="#" class="link__btn btn__blue">Записаться</a>
					</div>
				</div>
			</div>
			<br>
		</section>
		<details class="controls">
			<summary>Настройки</summary>
			<label for="wider"><del>Ширина контейнера: <span id="scr_wide">1000</span>px.</del></label><br>
			<input type="range" value="1000" name="wider" id="wider" min="320" max="1200" oninput="changeWide(this.value)" autocomplete='off' disabled>
			<p class="note">
				Для проверки адаптивности элемента, меняй ширину окна браузера <br>
				Или зайди в режим адаптивного дизайна (Cmd+Opt+P)
			</p>
			<br>
			<input type="radio" name="type" id="planned" onclick="changeType(this.id)" checked autocomplete='off'>
			<label for="planned">Запланированный</label><br>
			<input type="radio" name="type" id="on-air" onclick="changeType(this.id)" autocomplete='off'>
			<label for="on-air">В эфире</label><br>
			<input type="radio" name="type" id="past" onclick="changeType(this.id)" autocomplete='off'>
			<label for="past">Прошедщий</label>
			<hr>
			<input type="radio" name="grid" id="rigth"  onclick="changeGrid(true)" checked autocomplete='off'>
			<label for="rigth">Кнопки справа</label><br>
			<input type="radio" name="grid" id="bottom" onclick="changeGrid(false)" autocomplete='off'>
			<label for="bottom">Кнопки снизу</label>
			<hr>
			<input type="radio" name="btns" id="two" onclick="buttons(false)" checked autocomplete='off'>
			<label for="two">Две кнопки</label><br>
			<input type="radio" name="btns" id="one"  onclick="buttons(true)" autocomplete='off'>
			<label for="one">Одна кнопка</label><br>
			<input type="radio" name="btns" id="none"  onclick="buttons('none')" autocomplete='off'>
			<label for="none">Без кнопок</label>
		</details>
	</main>
	<script>

		const buttons = (bool) => {
			const cards = document.querySelectorAll('.webinar-card');
			cards.forEach((e)=> {
				if(bool === true) {
					e.classList.replace('wc__nobtns', 'wc__btns')
					e.querySelector('.btn__white').style.cssText = 'display: none !important'
				} else if (bool === false) {
					e.classList.replace('wc__nobtns', 'wc__btns')
					e.querySelector('.btn__white').style.cssText = 'display: block !important'
				} else {
					e.classList.replace('wc__btns', 'wc__nobtns')
				}
			})
		}

		const changeGrid = (bool) => {
			const cards = document.querySelectorAll('.webinar-card');
			cards.forEach((e)=> {
				if(!bool) {
					e.classList.replace('webinar-card__two-rows', 'heh')
				} else {
					e.classList.replace('heh', 'webinar-card__two-rows')
				}
			})
		}

		const changeType = (id) => {
			const cards = document.querySelectorAll('.webinar-card');
			for (let i = 0; i < cards.length; i++) {
				const newClass = 'wc__' + id
				console.log(cards[i].classList[cards[i].classList.length - 1])
				const newCalssList = 'wc__' + id;
				cards[i].classList.replace(cards[i].classList[cards[i].classList.length - 1], newCalssList)

				if(id == 'on-air') {
					document.querySelector('.wc--datetime').innerHTML = '<span class="on-air">Сейчас в эфире</span>'
				} else {
					document.querySelector('.wc--datetime').innerHTML = '<span>16:00</span><span>02.12.2012</span>'
				}
			}
		}

		const changeWide = (e) => {
			const screen = document.getElementById('dynamic_container');
			const counter = document.getElementById('scr_wide');
			screen.style.width = e + 'px';
			counter.innerHTML = e
		}
	</script>
</body>
</html>
