:root {
	/* COLORS */
	--dark-blue: #005496;
	--light-blue: #009EE3;
	--dark-gray: #3B3B3A;
	--gray: #6F6F6E;
	--light-gray: #9C9D9D;
	--gray-gradient: linear-gradient(#6F6F6E, #ffffff);
	--invalid-red: #DB6D6D;
	--calendar-light-blue: rgba(0, 158, 227, 0.2);

	--btn-desabled-opacity: 0.5;

	/* FONTS */
	--heading-fs: 32px;
	--heading-fw: 400;
	--subheading-fs: 24px;
	--subheading-fw: 700;
	--regular-fs: 18px;
	--regular-fw: 400;

	--logo-font-big-fs: 42px;
	--logo-font-big-fw: 200;
	--logo-font-ls: 5%;

	--logo-font-small-fs:  16px;
	--logo-font-small-ls: 0.123rem;

	--menu-fs: 14px;
	--menu-level1-fw: 700;
	--menu-level2-fw: 200;

	--filter-btn-fs: 13px;

	/* ICONS */
	--icon-valid: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 19 19'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3 0a3 3 0 0 0-3 3v13a3 3 0 0 0 3 3h13a3 3 0 0 0 3-3V3a3 3 0 0 0-3-3H3Zm11.95 4c-.32 0-.64.12-.87.35a.46.46 0 0 0-.03.03L8.23 11.8 4.72 8.29a1.26 1.26 0 1 0-1.78 1.78l4.44 4.43a1.26 1.26 0 0 0 1.8-.03l6.69-8.36A1.26 1.26 0 0 0 14.95 4Z' fill='%236DDB78'/%3E%3C/svg%3E");
	--icon-invalid: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 19 19'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3 0a3 3 0 0 0-3 3v13a3 3 0 0 0 3 3h13a3 3 0 0 0 3-3V3a3 3 0 0 0-3-3H3Zm11.73 5.57L10.8 9.5l3.94 3.93a.92.92 0 0 1-.65 1.58.92.92 0 0 1-.65-.28L9.5 10.8l-3.93 3.94a.91.91 0 0 1-1.3 0 .92.92 0 0 1 0-1.3L8.2 9.5 4.27 5.57a.92.92 0 1 1 1.3-1.3L9.5 8.2l3.93-3.94a.92.92 0 0 1 1.3 1.3Z' fill='%23DB6D6D'/%3E%3C/svg%3E");
	--icon-expand: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 19 19'%3E%3Crect width='19' height='19' rx='3' fill='%23009EE3'/%3E%3Cpath d='M16.5 7.16a1 1 0 0 1-.37.78l-6 4.83a1 1 0 0 1-1.27 0l-6-5a1 1 0 0 1 1.28-1.54L9.5 10.7l5.36-4.32a1 1 0 0 1 1.64.78Z' fill='%23fff'/%3E%3C/svg%3E");
	--icon-expanded: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 19 19'%3E%3Cpath d='M16.5 7.16a1 1 0 0 1-.37.78l-6 4.83a1 1 0 0 1-1.27 0l-6-5a1 1 0 0 1 1.28-1.54L9.5 10.7l5.36-4.32a1 1 0 0 1 1.64.78Z' fill='%23009EE3'/%3E%3C/svg%3E");
	--icon-close: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 23 23'%3E%3Cpath d='M13.97 11.5 21.49 4a1.76 1.76 0 0 0-2.48-2.5L11.5 9.04 4 1.51a1.76 1.76 0 0 0-2.5 2.48l7.53 7.51L1.51 19a1.75 1.75 0 0 0 .57 2.88 1.75 1.75 0 0 0 1.91-.39l7.51-7.52 7.5 7.52a1.75 1.75 0 0 0 3.01-1.24 1.75 1.75 0 0 0-.52-1.24l-7.52-7.51Z' fill='%23fff'/%3E%3C/svg%3E");
	--icon-checkbox-unchecked: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 19 19'%3E%3Crect x='1' y='1' width='17' height='17' rx='2' stroke='%23009EE3' stroke-width='2'/%3E%3C/svg%3E");
	--icon-checkbox-checked: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 19 19'%3E%3Crect x='1' y='1' width='17' height='17' rx='2' stroke='%23009EE3' stroke-width='2'/%3E%3Cpath d='M13.29 5.29a1 1 0 0 1 1.4 0 1.05 1.05 0 0 1 .04 1.45l-5.38 6.93a1.01 1.01 0 0 1-.72.33.99.99 0 0 1-.74-.3l-3.57-3.68A1.04 1.04 0 0 1 4 9.28a1.07 1.07 0 0 1 .3-.75 1.01 1.01 0 0 1 .73-.3.99.99 0 0 1 .72.32l2.83 2.9 4.68-6.13.03-.03Z' fill='%233B3B3A'/%3E%3C/svg%3E");
	--icon-faq-arrow: url("data:image/svg+xml,%3Csvg width='23' height='27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23 13.5.5 26.5V.5l22.5 13Z' fill='%23fff'/%3E%3C/svg%3E");

	/* SIZES */
	--block-width: 1040px;
}

.vcc-body {
	padding: 0; margin: 0;
	overflow-x: hidden;
}

.vcc-main {
	max-width: 1040px;
	margin: 0 auto;
}

*, *::before, *::after {
	box-sizing: border-box;
}

*[hidden] {
	display: none !important;
}

html {
	font-family: 'PT Sans', sans-serif;
	font-weight: var(--regular-fw);
	font-size: var(--regular-fs);
}

h1, h2 {
	font-size: var(--heading-fs);
	font-weight: var(--heading-fw);
	padding: 0;
	margin: 0;
}

h3, h4 {
	font-size: var(--subheading-fs);
	font-weight: var(--subheading-fw);
	padding: 0;
	margin: 0;
}

a {
	color: var(--dark-blue)
}

.white {
	color: #ffffff;
	text-decoration: none;
}

input, select, button, textarea {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}

textarea {
	resize: none;
}

/* HEADINGS */
.heading {
	color: var(--dark-blue);
	text-align: center;
	padding: 25px 0;
}

.heading__hr {
	display: grid;
	grid-template-columns: 50vw max-content 50vw;
	justify-content: center;
	align-items: center;
	column-gap: 10px;
}

.heading__hr::after,
.heading__hr::before {
	position: relative;
	display: block;
	content: '';
	/* top: 20px; */
	height: 2px;
	background-color: var(--dark-blue);
}

/* BUTTONS */
button, .link__btn {
	display: block;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	color: var(--dark-blue);
	font-weight: var(--subheading-fw);
	background-color: #ffffff;
	border-color: var(--dark-blue);
	border-radius: 9px;
	border: 2px solid var(--dark-blue);
	padding: 14px 38px;
}

button:disabled, .link__btn:disabled {
	opacity: var(--btn-desabled-opacity);
	cursor: not-allowed;
}

.btn__white {
	color: var(--dark-blue);
	background-color: #ffffff;
	border-color: var(--dark-blue);
}

.btn__white-border {
	border-color: #ffffff;
}

.btn__blue {
	color: #ffffff;
	background-color: var(--dark-blue);
}

.btn__no-border {
	border-color: transparent;
}

.btn__transparent-bg {
	background-color: transparent;
}

.btn__filter {
	padding: 6px 36px;
	border-radius: 30px;
	color: #000000;
	border-color: var(--light-gray);
	font-size: var(--filter-btn-fs);
}

.filter__active {
	background-color: var(--dark-blue);
	border-color: var(--dark-blue);
	color: #ffffff;
}

.filter__aside {
	padding: 14px;
	border-color: var(--dark-blue);
}

.btn__icon_line {
	padding: 8px 10px;
}

.btn__icon_grid {
	padding: 36px 62px;
	height: 100%;
}

.btn--container {
	display: grid;
	grid-template-columns: 36px minmax(min-content, max-content);
	grid-template-rows: 36px;
	column-gap: 10px;
	max-height: 36px;
	align-items: center;
	justify-content: center;
}

.btn--container__square {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.btn--container__square img {
	max-width: 113px;
	max-height: 113px;
	object-fit: contain;
	margin-bottom: 25px;
}
.btn--container img {
	max-width: 37px;
	max-height: 37px;
	object-fit: contain;
	margin-bottom: 25px;
}

.btn--container__square .btn--image {
	width: 113px;
	height: 113px;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 155 155'%3E%3Cpath fill='%23FDFEFE' d='M131.8 12.9c0-1.3-.4-2-1.2-2.4a2.1 2.1 0 0 0-2.6.4l-4 4c-1 1-1 2.3 0 3.3s2.1.8 3.2-.2a101 101 0 0 0 3.8-3.8l.8-1.3Zm-41.7 4c-.2-.8-.3-1.3-.6-1.6L85 10.7a2 2 0 0 0-3 .2c-.7.8-.9 2-.1 2.8 1.4 1.6 3 3.1 4.6 4.6a1.8 1.8 0 0 0 2.3.2c.6-.4 1-1.1 1.3-1.7Zm14.3-8.4v2.9c.1 1.3 1 2.2 2.1 2.2a2.2 2.2 0 0 0 2.3-2.1v-6a2.2 2.2 0 0 0-4.4 0v3Z'/%3E%3Cpath fill='%23030303' d='M49 40.3c.4-1.6 1-2.2 2.3-2.1 7.9.4 15.7 1 23.2 3.7 2.1.8 4 1 6 0 1.5-.7 3.1-1 4.9-1.5v-3.5A19 19 0 0 1 94.7 21a23.8 23.8 0 0 1 22.9-.5c7 3.8 10 9.8 10.3 17.5v1.4l8 2.3c1 .4 2 .8 2.9 1.4 1.7 1 2.3 2.8 2.5 4.7l.2 1.4 2.2.2c4.2 1 7 3.6 8.4 7.7l.4 1V140l-.5 1.4c-1.6 5.5-6 9.4-11.7 10-2.6.2-5.2.2-7.8.2h-19.6c-2.1 0-2.6-.3-3.2-2.2.7-1.9 1-2.2 3-2.2h17.8c2.8 0 5.7 0 8.5-.2 5.6-.4 9-4.3 9.1-10V61.4c0-1.1-.2-2.3-.5-3.4-1-2.7-3.8-4.4-6.2-3.9V133c0 4-2.6 8-7.7 7.7-1-.1-2.1 0-3.2 0H79.8v6.7h21.4c1.8 0 2.3.4 2.8 2.1-.4 1.8-1 2.3-2.8 2.3a80114.7 80114.7 0 0 1-86.4-.3A13.7 13.7 0 0 1 2.5 138V60.8c0-5 2.6-9 7-10.7 1.2-.5 2.6-.7 4-1l.1-.8c.2-3 1.8-5.3 4.7-6.2 2.7-.9 5.4-1.8 8.2-2.3 4.2-.7 8.6-1.1 12.9-1.5 2.2-.3 2.4 0 3.2 2-.5 1.9-1 2.3-3 2.3a74 74 0 0 0-18 3c-3.4 1-3.6 1.2-3.6 4.9v78.3c19.1-5.8 38.1-5.5 57.3-.2V47.7c0-.7-.3-1-.8-1.2l-5-1.5C63.9 43.5 58 43 52 42.6c-2 0-2.5-.5-3-2.3ZM110.9 67H99.6a3.2 3.2 0 0 0 0 6.4h14.2a3.2 3.2 0 0 0-.1-6.4h-2.8Zm19.6 64.8a85.2 85.2 0 0 0-18.5-2.6c-5.8-.2-11.7 0-17.5.8-4.4.6-8.8 1.5-13 3-2 .7-2.1 1-1.5 3.1h54.5c1.3 0 2-.7 2.4-2.4l-6.4-2ZM110 22.8c-1.6-.2-3.3-.4-5-.3-4.1.2-7.8 1.6-10.9 4.6-4.8 4.6-6 14-1.6 20 1.4 2 3 3.8 4.4 5.7 1.8 2.3 3.2 4.7 4 7.5l.4 2.1h3V47.2h-3.7c-1.4-.2-2.2-1.1-2.1-2.4 0-1.3 1-2 2.5-2h11.2c1.6 0 2.5 1.1 2.2 2.6-.1 1-1 1.7-2.3 1.8h-3.2v15.2h3c.5-4 2.4-7.3 5-10.3l3-3.8a16 16 0 0 0 3-14.3A15 15 0 0 0 110 22.7Zm20.6 22.1-3.3-.9c-1 1.8-1.7 3.5-2.6 5l-3.3 4.5c-1 1.3-2.2 2.6-3 4a10.9 10.9 0 0 0-2 5.5l.5.4c3.4 2 4.9 5.2 4 8.7a7.7 7.7 0 0 1-7.7 5.7H99.7a7.7 7.7 0 0 1-7.5-5.9c-.8-3.3.8-6.7 4-8.5l.6-.4c-.3-3-1.8-5.5-3.6-7.8-2.6-3.2-5.4-6.3-6.9-10.5L81 46.4c-1 .2-1.3.8-1.3 1.8v79.3l.1 1.3 3-.9a98.5 98.5 0 0 1 39.2-2.4l8.5 1.5 6.5 2V48.2c-.2-1-.6-1.7-1.5-2l-5-1.4Zm-117 8.9a5.9 5.9 0 0 0-4.3 1.4C7.5 56.8 7 58.8 7 61.1v76.6a9.4 9.4 0 0 0 7.6 9.1c1.2.3 2.3.4 3.5.4h57.2v-6.7H21.4a9 9 0 0 1-3.7-.7c-2.9-1.2-4.1-3.6-4.1-6.7V53.7ZM75.2 136v-1c.1-1.5.1-1.5-1.4-2a85 85 0 0 0-21.5-3.8c-9.5-.6-18.9 0-28.1 2.4l-6.2 2c.8 2 1.3 2.4 3.3 2.4h53.9Z'/%3E%3Cpath fill='%23EAEDEF' d='M49 40.3c.4 1.8 1 2.2 3 2.3 5.9.4 11.8 1 17.6 2.4 1.6.4 3.2 1 4.9 1.6.5.1.9.5.8 1.1v80.9a100.3 100.3 0 0 0-57.3.3V50.5c0-3.7.1-3.8 3.6-5a74 74 0 0 1 18-2.9c2 0 2.4-.4 3-2.3H49Zm-4 48.3c-2.2.2-5.8.5-9.4 1a32 32 0 0 0-10 3.2 2.2 2.2 0 0 0 2.5 3.5 40 40 0 0 1 14.5-3.1 49 49 0 0 1 22.9 3.3 2.1 2.1 0 0 0 2-1.2 2.1 2.1 0 0 0-.8-2.9c-.8-.5-1.6-.8-2.5-1.1-5.7-2-11.7-2.5-19.2-2.7ZM44.7 56c-2.4.2-6.5.5-10.5 1.3-2.6.4-5 1.4-7.6 2.3-1.5.5-2 1.7-1.5 3 .5 1.2 1.8 1.6 3.2 1l1.5-.6a41 41 0 0 1 13.3-2.4A48.1 48.1 0 0 1 65.4 64a2.1 2.1 0 0 0 2.1-1.1c.6-1.1.3-2.3-.9-3-.8-.5-1.6-.8-2.5-1.1-5.7-2-11.7-2.5-19.4-2.7Zm1.7 16.2-7.6.5c-4.2.5-8.4 1.4-12.3 3.2-1.3.6-1.9 1.7-1.4 2.9s1.8 1.7 3 1.1A43 43 0 0 1 45.7 77a44.7 44.7 0 0 1 19.9 3.4 2.1 2.1 0 0 0 2-1.3 2 2 0 0 0-.9-2.9 25 25 0 0 0-3.8-1.5 59.9 59.9 0 0 0-16.4-2.3Zm0 32.5-7.8.6c-4 .3-8 1.3-11.7 2.9-1.7.7-2.3 1.8-1.8 3.1.5 1.3 1.8 1.6 3.5 1l3.3-1.2a53.8 53.8 0 0 1 19.2-1.7 35.6 35.6 0 0 1 14.3 3.3 2.1 2.1 0 0 0 2.2-1.3 2 2 0 0 0-1-2.9L63 107c-5.4-1.6-11-2.1-16.6-2.3Z'/%3E%3Cpath fill='%238DBDE6' d='M104 149.3c-.5-1.7-1-2-2.8-2H79.8v-6.7l.8-.1h49.9v6.6h-17.8c-2 0-2.3.4-3 2.2H104Z'/%3E%3Cpath fill='%23080808' d='m131.8 12.9-.8 1.3a101 101 0 0 1-3.8 3.8c-1.1 1-2.4 1-3.3.2-1-.9-1-2.2.1-3.4l4-3.9a2.1 2.1 0 0 1 2.5-.4c.8.4 1.3 1 1.3 2.4Z'/%3E%3Cpath fill='%23040404' d='M90.1 16.8c-.4.6-.7 1.3-1.3 1.7a1.8 1.8 0 0 1-2.3-.2c-1.6-1.5-3.2-3-4.6-4.6-.8-.8-.6-2 .2-2.8a2 2 0 0 1 2.9-.2l4.5 4.6c.3.3.4.8.6 1.5Z'/%3E%3Cpath fill='%23050505' d='M104.4 8.5v-3a2.2 2.2 0 0 1 4.4 0 78.3 78.3 0 0 1-.2 6.8 2.2 2.2 0 0 1-2.1 1.3c-1.2 0-2-1-2.1-2.2V8.5Z'/%3E%3Cpath fill='%23EAEDEF' d='m130.5 127-8.6-1.5a98.5 98.5 0 0 0-39.2 2.4l-2.9 1v-1.4l-.1-79.3c0-1 .3-1.6 1.3-1.8l5.3-1.7c1.5 4.2 4.3 7.3 6.9 10.5 1.8 2.3 3.2 4.7 3.6 7.8l-.7.4a7.7 7.7 0 0 0-3.9 8.5 7.7 7.7 0 0 0 7.5 5.9h13.5c3.8 0 6.8-2.2 7.7-5.7.9-3.5-.6-6.8-4-8.8l-.5-.3c.1-2 .8-3.8 2-5.4.9-1.5 2-2.8 3-4.1l3.3-4.5c1-1.6 1.7-3.2 2.6-5l3.3 1v82Zm-23.8-38.4c-2.3.3-6.5.6-10.7 1.3-2.5.5-5 1.5-7.4 2.4a2 2 0 0 0-1.2 3c.6 1.2 1.8 1.5 3.2 1 1-.5 2-1 3-1.2a54 54 0 0 1 33.1 1.2c1.4.5 2.6 0 3.1-1 .5-1.2 0-2.5-1.3-3l-2.4-1c-5.6-2-11.5-2.6-19.4-2.7Zm2 16.2c-3.5.3-7 .5-10.4 1a27 27 0 0 0-9.6 2.7c-1.4.7-1.9 1.9-1.3 3 .6 1.2 1.8 1.5 3.3 1 1-.6 2-1 3.1-1.3 4.8-1.4 9.8-1.8 14.7-1.8a45 45 0 0 1 18.9 3.3 2.2 2.2 0 0 0 1.5-4l-1.7-.8c-6-2.3-12.2-3-18.5-3.1Z'/%3E%3Cpath fill='%238CBDE5' d='M13.6 53.8V133c0 3.1 1.3 5.5 4 6.7 1.3.5 2.5.7 3.8.7h53.8v6.6l-1.2.1H18a17 17 0 0 1-3.5-.4 9.4 9.4 0 0 1-7.6-9.1V61c0-2.3.6-4.3 2.4-5.9a5.9 5.9 0 0 1 4.3-1.4Z'/%3E%3Cpath fill='%235098D3' d='M130.5 147v-6.5h3.2c5.1.2 7.7-3.8 7.7-7.6V54c2.4-.5 5.2 1.2 6.1 3.8.4 1.1.6 2.3.6 3.5V137c0 5.7-3.5 9.6-9.1 10-2.8.2-5.7 0-8.5 0Z'/%3E%3Cpath fill='%23F9D767' d='M108.9 56.7v-9.5h3.2c1.4 0 2.2-.8 2.4-1.8.2-1.5-.7-2.5-2.3-2.6H101c-1.6 0-2.5.7-2.6 2 0 1.3.7 2.2 2.1 2.3h3.7v15.3h-3l-.5-2.1c-.7-2.8-2-5.2-3.8-7.5l-4.5-5.6c-4.4-6-3.2-15.5 1.6-20.1 3.1-3 6.8-4.4 11-4.6 1.6-.1 3.3.1 5 .2 1.5 1.3 3.1 2.3 4.4 4a18.4 18.4 0 0 1-.7 23.7l-5 6.3Z'/%3E%3Cpath fill='%23C2CACD' d='M130.5 127V45l5 1.4c1 .2 1.3 1 1.4 2v80.5l-6.4-2Z'/%3E%3Cpath fill='%238DA0AA' d='M75.2 136H21.3c-2 0-2.5-.3-3.3-2.3 2-.6 4-1.4 6.2-2 9.2-2.4 18.6-3 28-2.4a87.2 87.2 0 0 1 21.6 3.8c1.5.5 1.5.5 1.4 2v1Z'/%3E%3Cpath fill='%238EA2AC' d='M130.5 136H80c-.6-2-.5-2.3 1.4-3 4.3-1.6 8.7-2.4 13.1-3a105.6 105.6 0 0 1 35.4 1.4l.6.3v4.3Z'/%3E%3Cpath fill='%23E3A035' d='m108.9 56.7 5-6.3a18.4 18.4 0 0 0 .7-23.8c-1.4-1.6-3-2.6-4.6-3.9 6 .8 11.4 4.8 12.9 11.3a16 16 0 0 1-3 14.3l-3 3.8a20 20 0 0 0-5 10.3h-3v-5.7Z'/%3E%3Cpath fill='%23C2CACD' d='M110.9 73.3H99.6a3.2 3.2 0 0 1 0-6.3H111a6.2 6.2 0 0 1 0 6.3Z'/%3E%3Cpath fill='%238DA1AB' d='M110.9 73.3a6.1 6.1 0 0 0 0-6.3h2.8a3.2 3.2 0 0 1 0 6.4H111Z'/%3E%3Cpath fill='%23728088' d='M130.5 136v-4.3l6.4 2c-.4 1.6-1 2.3-2.5 2.4l-3.9-.1Z'/%3E%3Cpath fill='%23040404' d='M45 88.6c7.5.2 13.5.7 19.2 2.7.9.3 1.7.7 2.5 1.2a2.1 2.1 0 0 1 .9 2.9 2.1 2.1 0 0 1-3 1c-7-3.2-14.5-3.5-22-3.2a40.6 40.6 0 0 0-15.3 3.3 2.2 2.2 0 0 1-1-4.2c3-1.4 6-2.3 9.3-2.7 3.6-.5 7.2-.8 9.4-1ZM44.7 56A63 63 0 0 1 64 58.8c.9.3 1.7.7 2.5 1.2 1.2.7 1.5 1.9 1 3a2.1 2.1 0 0 1-3 .9A49 49 0 0 0 43 60.8a41 41 0 0 0-14.8 3c-1.4.6-2.7.1-3.1-1-.5-1.2 0-2.5 1.5-3 2.5-1 5-1.9 7.5-2.3 4-.8 8.1-1 10.5-1.3Zm1.7 16.4a60 60 0 0 1 16.5 2.2 22.3 22.3 0 0 1 4.4 2 2 2 0 0 1 .3 2.4 2.2 2.2 0 0 1-3 1c-6-2.7-12.5-3.1-19-3.1-6 0-11.8.8-17.4 3.1-1.3.6-2.6 0-3-1-.5-1.2 0-2.4 1.3-3a39 39 0 0 1 12.3-3.2l7.6-.4Zm0 32.4c5.6.2 11.2.7 16.6 2.3 1.3.4 2.5 1 3.6 1.5a2 2 0 0 1 1 3 2.1 2.1 0 0 1-3 1 34.4 34.4 0 0 0-13.4-3c-6.5-.5-13-.3-19.3 1.6l-3.3 1.2c-1.7.6-3 .3-3.5-1s.1-2.4 1.8-3.1a40 40 0 0 1 11.7-3l7.8-.5Zm60.3-16.2a60 60 0 0 1 21.8 3.6c1.4.6 1.9 1.9 1.3 3-.5 1.2-1.7 1.6-3 1a54 54 0 0 0-36.2 0c-1.4.6-2.6.3-3.2-.9a2 2 0 0 1 1.2-3c2.4-1 4.9-2 7.4-2.4 4.2-.7 8.4-1 10.7-1.3Zm2 16.2a55 55 0 0 1 20.2 4 2.2 2.2 0 0 1-1.5 4 52.8 52.8 0 0 0-36.7-.3c-1.5.6-2.6.3-3.3-1-.6-1.1-.1-2.3 1.3-3 3-1.6 6.3-2.3 9.7-2.8l10.3-1Z'/%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	margin-bottom: 25px;
}

.btn--container .btn--image {
	width: 37px;
	height: 37px;
	/* background-image: url("data:image/svg+xml, %3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 38 37'%3E%3Cpath d='M37.3 16.98 19.29.58a.46.46 0 0 0-.62 0L.63 16.98a.45.45 0 0 0-.11.5c.03.08.1.15.17.2.07.05.16.08.25.08H8.7c-.05 5.51-.96 9.99-2.66 12.95-1.33 2.33-3.13 3.67-4.92 3.67a.47.47 0 0 0-.35.12.45.45 0 0 0-.14.33.44.44 0 0 0 .14.33.46.46 0 0 0 .35.12H21.7c1.3 0 3.77-.48 5.71-3.72 1.8-3 2.74-7.64 2.78-13.8H37a.46.46 0 0 0 .43-.3.44.44 0 0 0-.11-.48Zm-7.56-.11a.46.46 0 0 0-.32.13.44.44 0 0 0-.14.31c0 6.23-.9 10.87-2.66 13.8-1.62 2.71-3.57 3.28-4.92 3.28H3.94a9.24 9.24 0 0 0 2.9-3.24c1.81-3.18 2.78-7.96 2.78-13.84a.44.44 0 0 0-.14-.31.46.46 0 0 0-.32-.13H2.12L18.98 1.52l16.86 15.35h-6.1Z' fill='%23005496'/%3E%3Cpath d='M16.72 12.11v1.04a7.3 7.3 0 0 0-4.74 4.7h-.51a.46.46 0 0 0-.32.14.44.44 0 0 0-.14.31v3.53c0 .11.05.23.14.31.08.09.2.13.32.13h1a6.4 6.4 0 0 0 2.22 3.87 6.65 6.65 0 0 0 8.51 0 6.4 6.4 0 0 0 2.23-3.87h1.06c.12 0 .23-.04.32-.13.08-.08.13-.2.13-.31V18.3a.44.44 0 0 0-.13-.32.46.46 0 0 0-.32-.13h-.58a7.11 7.11 0 0 0-4.68-4.68V12.1a.44.44 0 0 0-.13-.31.46.46 0 0 0-.32-.13h-3.6a.46.46 0 0 0-.32.13.44.44 0 0 0-.14.31Zm0 1.98v3.76h-3.78a6.22 6.22 0 0 1 3.78-3.76Zm2.23 12.69a5.7 5.7 0 0 1-3.62-1.27 5.49 5.49 0 0 1-1.94-3.24H24.5a5.49 5.49 0 0 1-1.94 3.24 5.7 5.7 0 0 1-3.61 1.27Zm2.28-12.66a6.4 6.4 0 0 1 3.72 3.73h-3.72v-3.73Zm4.34 4.63h.47v2.63H11.92v-2.63h13.65Zm-7.93-5.27v-.93h2.68v5.3h-2.68v-4.37Z' fill='%23005496'/%3E%3Cpath d='M17.3 24.37c.48.36 1.06.56 1.66.57.61-.01 1.2-.21 1.68-.56a.45.45 0 0 0 .2-.29.44.44 0 0 0-.2-.45.46.46 0 0 0-.52 0c-.79.54-1.52.54-2.28 0a.46.46 0 0 0-.64.1.44.44 0 0 0 .1.63Z' fill='%23005496'/%3E%3C/svg%3E"); */
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.btn__close {
	background-color: transparent;
	background-image: var(--icon-close);
	background-position: center;
	background-size: 21px;
	background-repeat: no-repeat;
	border: none;
	border-radius: 0;
	width: 21px;
	height: 21px;
	padding: 0;
	margin: 0;
	align-self: center;
}

.filters-wrapper {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	gap: 10px;
	list-style: none;
	padding: 0;
	margin: 0;
}

.btn__filter-name {
	cursor: auto;
	display: grid;
	grid-template-columns: 1fr 12px;
	grid-template-rows: 1fr;
	background-color: var(--light-blue);
	border-color: var(--light-blue);
	text-align: start;
	column-gap: 25px;
	width: max-content;
	max-width: 284px;
	max-height: 34px;
	color: #ffffff;
	padding: 6px 14px;
}

.btn__filter-name p {
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: inherit;
}

.btn__filter-name .btn__close {
	width: 12px;
	height: 12px;
	background-size: 12px;
}

.faq-wrapper {
	list-style: none;
	padding: 0;
	margin: 0;
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	row-gap: 20px;
}

.link__faq {
	text-align: start;
	display: grid;
	grid-template-columns: 1fr 30px;
	align-items: center;
	justify-content: start;
	column-gap: 21px;
	padding: 19px 35px;
}

.faq-wrapper li:last-child {
	display: flex;
	justify-content: center;
	padding-top: 10px;
}

.faq-wrapper li:last-child .link__btn,
.faq-wrapper li:last-child button {
	max-width: max-content;
	align-self: center;
}

.faq-wrapper__no-last-btn li:last-child {
	display: grid;
	padding-top: 0;
	justify-content: stretch;
}

.faq-wrapper__no-last-btn li:last-child .link__btn,
.faq-wrapper__no-last-btn li:last-child button {
	max-width: unset;
	align-self: unset;
}

.link__faq::after {
	content: '';
	display: inline-block;
	width: 30px;
	height: 30px;
	background-image: var(--icon-faq-arrow);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

/* INPUTS */
.input, .select {
	border: 2px solid var(--dark-blue);
	border-radius: 9px;
	padding: 14px 35px 14px 14px;
	background-color: transparent;
	appearance: none;
	width: 100%;
	font-size: inherit;
}

.input__slim {
	padding: 9px;
	font-size: var(--menu-fs);
}


.input:invalid {
	border-color: var(--invalid-red);
}

.input:invalid:placeholder-shown {
	border-color: var(--dark-blue);
}

.input:focus,
.input:focus:placeholder-shown {
	border-color: var(--light-blue);
	outline: none;
}

.input__white {
	border-color: #ffffff;
	background-color: transparent;
	color: #ffffff;
}

:placeholder-shown {
	color: var(--light-gray);
	text-overflow: ellipsis;
	overflow: hidden;
}

*::placeholder {
	color: var(--light-gray);
	opacity: 1;
	font-size: inherit;
	font-weight: inherit;
}

.input__white::placeholder {
	color: #ffffff;
	opacity: 1;
}

.validity-icon {
	position: relative;
}

.input + .validity-icon::before {
	content: '';
	position: absolute;
	right: 14px;
	top: 3px;
	display: block;
	background-repeat: no-repeat;
	background-size: 19px;
	background-position: center;
	width: 19px;
	height: 19px;
}
.input:valid + .validity-icon::before {
	background-image: var(--icon-valid);
}

.input:invalid + .validity-icon::before {
	background-image: var(--icon-invalid);
}

.input:invalid:placeholder-shown + .validity-icon::before,
.input:valid:placeholder-shown + .validity-icon::before {
	visibility: hidden;
}

.expand-icon {
	position: relative;
}

.select {
	cursor: pointer;
	overflow: hidden;
	text-overflow: ellipsis;
}

.select:focus {
	border-color: var(--light-blue);
}

.select + .expand-icon::before {
	position: absolute;
	width: 19px;
	height: 19px;
	content: '';
	right: 14px;
	top: 3px;
	background-image: var(--icon-expand);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 19px;
	z-index: -1;
	cursor: pointer;
}

.select:focus + .expand-icon::before {
	background-image: var(--icon-expanded);
}

.label__input {
	padding: 0 10px 5px 10px;
	display: block;
}

label {
	cursor: pointer;
}

.required::after {
	display: inline-block;
	content: '*';
	color: var(--invalid-red);
	width: 10px;
	height: 10px;
	margin-left: 2px;
}

input[type="checkbox"],
input[type="radio"] {
	width: 19px;
	height: 19px;
	appearance: none;
	cursor: pointer;
	margin: 0 10px 0 0;
	transform: translateY(3px);
}

input[type="checkbox"]::before,
input[type="radio"]::before {
	background-image: var(--icon-checkbox-unchecked);
	content: '';
	display: block;
	width: 19px;
	height: 19px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 19px;
}

input[type="checkbox"]:checked::before,
input[type="radio"]:checked::before {
	background-image: var(--icon-checkbox-checked);
}

/* HEADER */

.vcc-header {
	margin-bottom: 50px;
}

.vcc-header--center-wrapper {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, max-content);
	padding-top: 11px;
	margin: 0 auto;
	max-width: 1040px;
}

.header--bottom-section {
	grid-column: span 2;
}

@media screen and (max-width: 970px) {
	.vcc-header--center-wrapper {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, max-content);
	}

	.header--bottom-section {
		grid-column: 1;
	}
}

.logo__link {
	text-decoration: unset;
	margin-bottom: 19px;
}

.header--logo {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
	padding-left: 10px;
}

.logo__main-text {
	color: var(--dark-blue);
	font-size: var(--logo-font-big-fs);
	font-weight: var(--logo-font-big-fw);
	letter-spacing: var(--logo-font-ls);
	margin: 0;
	padding: 0;
}

.logo__second-text {
	color: var(--dark-gray);
	font-size:var(--logo-font-small-fs);
	letter-spacing: var(--logo-font-small-ls);
	margin: 0;
	padding: 0;
}

.header--nav__external-sources {
	display: grid;
	grid-template-rows: repeat(2, max-content);
	row-gap: 15px;
	padding: 0 10px 0 0;
	justify-content: flex-end;
}

@media screen and (max-width: 970px) {
	.header--nav__external-sources {
		justify-content: stretch;
	}
}

.nav__partners {
	list-style: none;
	display: flex;
	justify-content: flex-start;
	gap: 21px;
	padding: 0;
	margin: 0;
}

.nav__partners--links-list a{
	display: block;
}

.nav__partners--links-list img {
	height: 35px;
	width: 100%;
	object-fit: contain;
}

.nav__our-sources {
	display: grid;
	grid-template-columns: repeat(2, 60px);
	column-gap: 10px;
	list-style: none;
	justify-content: flex-end;
	margin: 0;
	padding: 0;
}

.nav__our-sources li {
	background-color: var(--dark-blue);
	padding: 8px 12px;
	border-radius: 9px 9px 0 0;
}

.nav__our-sources a {
	display: block;
	max-width: 36px;
	max-height: 36px;
	height: 100%;
}

.nav__our-sources img {
	width: 36px;
	object-fit: contain;
}

.header--bottom-section {
	box-shadow: 1040px 0 0 0 var(--dark-blue),
				-1040px 0 0 0 var(--dark-blue);
	border-left: 10px solid var(--dark-blue);
	border-right: 10px solid var(--dark-blue);
}

.header--bottom-section .header--nav__inner-links {
	padding: 15px 0;
	display: grid;
	align-items: center;
	grid-template-columns: repeat(2, 1fr);
	background-color: var(--dark-blue);
	color: #ffffff;
	font-size: var(--menu-fs);
	font-weight: var(--menu-level1-fw);
}

.header--nav__inner-links ul {
	list-style: none;
	padding: 0; margin: 0;
	display: flex;
	justify-content: flex-start;
	gap: 37px;
}

.header--nav__inner-links ul a,
.header--profile a {
	color: #ffffff;
	text-decoration: none;
}

.hbs--right-section {
	display: flex;
	justify-content: flex-end;
	gap: 25px;

}

.last--update {
	margin: 0;
	display: flex;
	justify-content: flex-start;
	gap: 5px;
	border-radius: 9px;
	background-color: #ffffff;
	color: #000000;
	padding: 4px 12px;
}

.last--update dt {
	font-weight: var(--menu-level2-fw);
}

.last--update dt::after {
	content: ':';
}

.last--update dd {
	margin: 0;
	font-weight: var(--subheading-fw);
}

.link__signout {
	font-weight: var(--menu-level2-fw);
}

.header--profile {
	display: flex;
	align-items: center;
	gap: 5px;
}

/* WEBINAR CARD */

.webinar-card {
	display: grid;
	grid-template-rows: 61px 1fr;
	border-radius: 9px;
	border: 2px solid var(--dark-blue);
	min-width: 224px;
}

@media screen and (max-width: 510px) {
	.webinar-card * {
		font-size: var(--regular-fs);
	}

	.webinar-card .wc--header {
		font-size: var(--subheading-fs);
	}
}

.webinar-card hr,
.big-webinar-card hr,
.hr__white,
.hr__blue {
	color: var(--dark-blue);
	border-color: var(--dark-blue);
	border: 1px solid var(--dark-blue);
	height: 2px;
	margin: 0;
}

.hr__white {
	color: #ffffff;
	border-color: #ffffff;
	border-color: #ffffff;
}

.webinar-card .wc--heading h3 {
	margin-bottom: 18px;
}

.wc--header {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: var(--subheading-fs);
	font-weight: var(--subheading-fw);
	background-color: var(--dark-blue);
	color: #ffffff;
	padding: 10px 21px;
}

.wc--datetime {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-basis: 100%;
	margin: 0;
}

.wc--datetime .on-air {
	align-self: center;
	text-align: center;
	width: 100%;
}

.wc--body {
	display: grid;
	grid-template-rows: max-content max-content max-content;
	row-gap: 18px;
	padding: 10px 21px 21px;
}

.wc__nobtns .wc--body {
	grid-template-rows: max-content max-content;
}

.wc__nobtns .wc--main,
.wc__nobtns .wc--heading {
	grid-column: span 2;
}

.wc__nobtns .wc--footer {
	display: none;
}

.wc--body .wc--speakers {
	list-style: none;
	padding: 0;
	margin: 0;
	min-width: 330px;
}

@media screen and (max-width: 560px) {
	.wc--body .wc--speakers {
		min-width: 0;
	}
}

.dl__theme dt,
.dl__theme dd {
	display: inline-block;
}

.dl__theme dt::after {
	content: ': ';
}

.dl__theme dd {
	margin: 0;
}

.wc--body .wc--speakers li:not(:last-child) {
	margin-bottom: 5px;
}

.hl__blue {
	color: var(--dark-blue);
}

.wc--footer {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 16px;
}

.wc--footer .link__btn,
.wc--footer button {
	flex: 1 1 0;
}

.webinar-card__two-rows .wc--body {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: max-content 1fr;
	align-items: center;
	column-gap: 10px;
}

@media screen and (max-width: 560px) {
	.webinar-card__two-rows .wc--body {
		grid-template-rows: max-content max-content 1fr;
	}

	.webinar-card__two-rows .wc--footer {
		grid-row: 3;
	}
}

.webinar-card__two-rows .wc--heading {
	grid-column: span 2;
}

.wc__planned .wc--header{
	background-color: var(--dark-blue);
	border-radius: 3px 3px 0 0;
}

.wc__on-air {
	border-color: var(--light-blue);
}

.wc__on-air .wc--header{
	background-color: var(--light-blue);
	border-radius: 3px 3px 0 0;
}

.wc__past {
	border-color: var(--gray);
}

.wc__past .wc--header{
	background-color: var(--gray);
	border-radius: 3px 3px 0 0;
}

.wc__past .link__btn,
.wc__past button {
	border-color: var(--dark-gray);
	color: var(--dark-gray);
}

.wc__past .btn__blue {
	background-color: var(--dark-gray);
	color: #ffffff;
}


/* .wc__past .link__btn:hover,
.wc__past button:hover {
	background-color: var(--dark-gray);
	color: #ffffff;
}

.wc__past .btn__blue:hover {
	background-color: #ffffff;
	color: var(--dark-gray);
} */

.wc__past .wc--speakers .hl__blue,
.wc__past hr {
	color: var(--gray);
	border-color: var(--gray);
}

/* SUBSCRIBE FORM */
.subscribe-form__wrapper,
.form__ask-expert--wrapper {
	display: grid;
	grid-template-rows: max-content 2px max-content;
	row-gap: 28px;
	padding: 84px 21px 0 21px;
	position: relative;
	align-items: flex-start;
	border: 2px solid var(--dark-blue);
	border-radius: 9px;
}

.form__ask-expert--wrapper {
	grid-template-rows: repeat(3, max-content);
	padding: 0;
	border: none;
	row-gap: 60px;
}

.subscribe-form__wrapper legend,
.form__ask-expert--wrapper legend {
	display: flex;
	justify-content: space-between;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: var(--dark-blue);
	color: #ffffff;
	padding: 21px;
	font-weight: var(--subheading-fw);
	font-size: var(--subheading-fs);
}

.form__ask-expert--wrapper legend {
	font-size: var(--regular-fs);
	font-weight: var(--regular-fw);
}

@media screen and (max-width: 480px) {
	.subscribe-form__wrapper legend,
	.form__ask-expert--wrapper legend {
		font-size: var(--regular-fs);
	}
}

.form-row {
	display: grid;
	gap: 27px 40px;
	border: none;
	padding: 21px 0;
	margin: 0;
}

.form-row__three-columns {
	grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 650px) {
	.form-row__three-columns {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(6, max-content);
		grid-auto-rows: 1fr;
	}
}

.form-row__three-columns .hr__wrapper {
	display: flex;
	height: 100%;
}

.form-row__three-columns .hr__wrapper hr {
	align-items: center;
}

.form-row__two-columns {
	grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 492px) {
	.form-row__two-columns {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, max-content);
		grid-auto-rows: 1fr;
	}
}

@media screen and (max-width: 560px) {
	.form__ask-expert--wrapper .form-row__two-columns {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, max-content);
		grid-auto-rows: max-content;
	}
}

.form-row__one-column {
	grid-template-columns: 1fr;
}

.form-row__two-columns .form-row__submit {
	grid-column: span 2;
}

@media screen and (max-width: 492px) {
	.form-row__two-columns .form-row__submit {
		grid-column: 1;
	}
}

.form-row__submit {
	border: none;
	display: grid;
	grid-template-columns: 100%;
	padding: 25px 0 0 0;
	margin: 0;
}

.agree-and-submit {
	grid-template-columns: repeat(4, 1fr);
	column-gap: 50px;
}

.agree-and-submit .label__checkbox {
	align-self: center;
}

.agree-and-submit button {
	grid-column: span 3;
}

@media screen and (max-width: 850px) {
	.agree-and-submit {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(2, 1fr);
		grid-auto-rows: 1fr;
	}

	.agree-and-submit button {
		grid-column: 1;
	}
}

/* ASK EXPERT FORM */

.form__ask-expert--wrapper .form-row__submit {
	padding-top: 40px
}
.form__ask-expert--wrapper .form-row {
	padding: 0;
}

.file-input-wrapper {
	display: grid;
	grid-template-columns: 1fr 2.3fr;
	column-gap: 28px;
}

@media screen and (max-width: 560px) {
	.file-input-wrapper {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr max-content;
		row-gap: 28px;
	}
}

.q-file-list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: flex-start;
	/* align-items: flex-start; */
	flex-wrap: wrap;
	font-size: var(--menu-fs);
	font-weight: var(--menu-level2-fw);
	color: var(--dark-gray);
	gap: 10px 21px;
}

/* BIG WEBINAR CARD */

.big-webinar-card {
	display: grid;
	grid-template-columns: 1fr 3.14159265fr;
	column-gap: 21px;
}

/* NOTE: Надо поменять на ocntainer-queries */
@media screen and (max-width: 730px) {
	.big-webinar-card {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 3.14159265fr;
		row-gap: 21px;
	}
}

.bwc--status {
	border: 2px solid var(--dark-blue);
	border-radius: 9px;
	max-height: 223px;
	padding: 35px 42px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.bwc--status .status--heading {
	font-size: var(--subheading-fs);
	margin-bottom: 35px;
	text-align: center;
}

.bwc--status time {
	font-size: var(--heading-fs);
	font-weight: var(--subheading-fw);
	color: var(--dark-blue);
	text-align: center;
}

.bwc--buttons {
	display: flex;
	justify-content: stretch;
	flex-wrap: wrap;
	gap: 16px;
	margin-top: 38px;
}

.bwc--buttons .link__btn,
.bwc--buttons button {
	flex: 1 0 230px;

}

.bwc__past .hl__blue {
	color: var(--gray);
}

.bwc__past hr,
.bwc__past .btn__white,
.bwc__past time {
	color: var(--dark-gray)
}

.bwc__past hr,
.bwc__past .btn__white,
.bwc__past .btn__blue,
.bwc__past .bwc--status {
	border-color: var(--dark-gray);
}

.bwc__past .btn__blue {
	background-color: var(--dark-gray);
}

.bwc__on-air .bwc--status {
	background-color: var(--light-blue);
	border-color: var(--light-blue);
	color: #ffffff;
}

.bwc__on-air .status--heading {
	margin-bottom: unset;
}

.bwc__on-air .bwc--status time {
	display: none;
}

/* KNOWLAGE BASE CARD */
.kb-card {
	display: grid;
	grid-template-columns: 80px 1fr;
	grid-template-rows: max-content 1fr;
	row-gap: 18px;
	column-gap: 21px;
	align-items: center;

	border: 2px solid var(--dark-blue);
	border-radius: 9px;
	padding: 21px;

	font-size: var(--regular-fs);
	overflow-x: scroll;
}

.kb--image {
	grid-row: span 2;
	background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 155 155'%3E%3Cpath d='M23.5 151.8a6 6 0 0 0-.8-.5A8.5 8.5 0 0 1 17 143v-30c0-.6 0-1.2.3-1.7.3-1 1-1.3 2-1.4 1.8.5 2 1 2 2.9v29.3c0 .5 0 1.1.2 1.7a4.1 4.1 0 0 0 4.1 3.5h83.8l2.2-.8c1-.5 1.4-1.3 1.7-2.4H101c-1.7 0-2.3-.6-2.7-2.2.4-1.7.9-2.1 2.6-2.2h17.9c2.1 0 3.7-.7 4.4-2.8.4-1 .5-2 .2-3H47.3c-2.8 0-5.4-.5-7.6-2.5-1.9-2.1-2.4-4.7-2.4-7.5V39.8c0-1.8.7-2.7 2.2-3 1.7.6 2 1 2.1 2.8V124l.1 2a4 4 0 0 0 3.2 3.5l2 .2h77.4l1.6-.1h3.8a4 4 0 0 0 3.2-1.7c.7-1 .8-2.1.8-3.3V33.5H117a8.7 8.7 0 0 1-9-9V8.8l-.1-1.2H46.2c-2.7 0-4.3 1.5-4.6 4.2v17.3c0 1.7-.3 2.2-2 2.7-1.8-.5-2.3-1-2.3-2.9V17.8h-1.4c-2.4 0-4 1.4-4.3 3.8l-.1 1.7v111.8c0 3 1.7 4.7 4.8 4.7h54c2 0 2.4.4 3 2.1-.5 1.7-1.1 2.2-2.8 2.3H37.2c-2.8 0-5.4-.5-7.5-2.4-2-2.2-2.6-4.8-2.6-7.8V25.3c-.9.1-1.6 0-2.3.2a4 4 0 0 0-3.4 3.3l-.1 1.7V102c0 2-.3 2.5-2.1 3-1.9-.4-2.3-1-2.3-3.1V30.2a9 9 0 0 1 1.6-5.5 8.6 8.6 0 0 1 7-3.7h1.6c1.2-5.5 4.8-7.8 10.1-7.6l.2-2.8a8.5 8.5 0 0 1 8.1-7.3H109a4.5 4.5 0 0 1 3.5 1.4L136.8 29a4.2 4.2 0 0 1 1.3 3.2v92.4c0 1.4-.3 2.8-.8 4-1.3 3.4-4 5.1-7.6 5.4H128l-.1 1.3a8.6 8.6 0 0 1-8.9 8.9h-1.3l-.5 1.7c-1 3-3 5-6.4 5.6l-.2.3h-87ZM112.3 11v13.2A4.5 4.5 0 0 0 117 29h13.2l-18-18Z' fill='%23030403'/%3E%3Cpath d='M19.2 105c1.8-.6 2-1 2-3.1V30.5l.2-1.7a4 4 0 0 1 3.4-3.3l2.3-.2v108.8c0 2.9.6 5.5 2.6 7.7 0 .4 0 .8.2 1.1 1.2 2.3 3 3.7 5.7 3.7h75.9l-2.2.8a5 5 0 0 1-1.3 0H25.5a4.1 4.1 0 0 1-4.1-3.5l-.1-1.7v-29.3c0-2-.3-2.3-2.1-3v-5Z' fill='%2388C6FA'/%3E%3Cpath d='M126 129.6H46.8l-2-.1a4 4 0 0 1-3.2-3.5V39.6c-.1-1.8-.5-2.2-2.2-2.7v-5c1.7-.6 2.1-1 2.1-2.8V11.8c.2-2.6 1.9-4.2 4.5-4.2h61.8L108 9v15.5c-.1 4.4 3.2 9 9 9h10.2V124c0 1.9 0 3.7-1.2 5.4v.3ZM87.5 86.9H117a2.1 2.1 0 0 0 .2-4.2c-.4-.1-1-.2-1.4-.1H59.5a6 6 0 0 0-1.3 0 2.1 2.1 0 0 0 .2 4.3h29.2Zm-.1-32.3H117a2 2 0 0 0 1.8-1.8 2 2 0 0 0-1.3-2.3 34407.7 34407.7 0 0 0-59.4-.2 2.1 2.1 0 0 0-1.7 2.4 2 2 0 0 0 2 2h29Zm.2 11.8H58.5a2.1 2.1 0 0 0-2 2 2.2 2.2 0 0 0 1.6 2.3h59.1a2.2 2.2 0 0 0 1.7-2.3 2.1 2.1 0 0 0-2-2H87.7Z' fill='%23EDEBED'/%3E%3Cpath d='M39.5 31.8v5c-1.5.3-2.3 1.2-2.2 3V124c0 2.8.5 5.4 2.5 7.5l-.2.2a6.4 6.4 0 0 0 6.3 5.3h77.3c-.7 2-2.3 2.8-4.3 2.8h-18c-1.7 0-2.2.4-2.6 2.1h-5c-.6-1.7-1-2-3-2h-54c-3.1-.1-4.8-1.8-4.9-4.8V23.3l.1-1.7c.4-2.4 2-3.8 4.3-3.8h1.5V29c0 1.8.5 2.4 2.2 2.8Z' fill='%23F8CF02'/%3E%3Cpath d='M126 129.6v-.3c1.1-1.6 1.1-3.5 1.1-5.4V33.4h6.6v91.2c0 1.2-.1 2.3-.8 3.3a4 4 0 0 1-3.2 1.7h-3.8Z' fill='%23D2CBD1'/%3E%3Cpath d='M123.2 137H46a6.4 6.4 0 0 1-6.3-5.3l.1-.2c2.2 2 4.8 2.5 7.6 2.5h76c.3 1 .2 2-.2 3Z' fill='%23F9C600'/%3E%3Cpath d='M93.2 142h5c.5 1.6 1.1 2.2 2.8 2.2h12.2c-.3 1.1-.8 1.9-1.7 2.4h-76c-2.6 0-4.4-1.4-5.6-3.7l-.2-1.1a11 11 0 0 0 7.5 2.4h53.3c1.7 0 2.3-.6 2.7-2.3Z' fill='%2360B6FD'/%3E%3Cpath d='m112.3 11 18 18H117c-3 .1-4.9-2-4.8-4.7V11.1Z' fill='%23B2AAB3'/%3E%3Cpath d='M87.6 87H59.8l-1.4-.1a2.1 2.1 0 0 1-.2-4.3 6 6 0 0 1 1.3 0h56.4l1.4.1a2.1 2.1 0 0 1-.2 4.1l-1.6.1H87.6Z' fill='%23060606'/%3E%3Cpath d='M87.5 54.6h-29a2 2 0 0 1-2-1.9 2.1 2.1 0 0 1 1.7-2.3 6 6 0 0 1 1.3-.1H116a5 5 0 0 1 1.7.2 2 2 0 0 1 1.2 2.3 2 2 0 0 1-1.7 1.8H87.5Z' fill='%23040404'/%3E%3Cpath d='M87.7 66.5H117a2.1 2.1 0 0 1 .3 4.2l-1.3.1H59.4l-1.3-.1a2.2 2.2 0 0 1-1-3.6 2 2 0 0 1 1.4-.6h29.3Z' fill='%23030303'/%3E%3C/svg%3E");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 80px;
	height: 80px;
}

.kb--image img {
	width: 80px;
	height: 100%;
	object-fit: contain;
}

.kb--header hr {
	margin: 18px 0 0 0;
	color: var(--dark-blue);
	background-color: var(--dark-blue);
	border-color: var(--dark-blue);
}

.kb--heading {
	font-size: inherit;
	word-wrap: break-word;
}

.kb--footer * {
	font-size: inherit;
}

.kb--footer {
	display: flex;
	justify-content: space-between;
	color: var(--dark-blue);
	font-weight: var(--subheading-fw);
}

.kb-card__nofooter {
	grid-template-rows: 1fr;
}

.kb-card__nofooter .kb--image {
	grid-row: 1;
}

.kb-card__nofooter hr,
.kb-card__nofooter .kb--footer {
	display: none;
}

.kb--materials-count {
	color: #000000;
}

/* ILLUTRATION BLOCK */
.illustration-block {
	display: grid;
	position: relative;
	grid-template-columns: var(--ib-grid);
	grid-template-rows: 1fr;
	align-items: center;
	padding: 0 10px;
	margin-top: calc(var(--icon-block-height) / 3.5);
	margin-bottom: calc(var(--icon-block-height) / 5);
	background-color: var(--dark-blue);
	box-shadow: 1040px 0 var(--dark-blue),
				-1040px 0 var(--dark-blue);
}

.ib-subscribe-v1 {
	--ib-grid: minmax(min-content, 686px) 1fr;
	--icon-block-height: 484px;
	--icon-human: url("data:image/svg+xml,%3Csvg width='429' height='484' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M218.15 104.75c5.61-12.12 8.04-25.65 3.67-38.71-12.57-37.62-62.92-13.56-68.13 8.86-5.2 22.42 8.72 71.23 22.82 70.77 5.62-.19 15.97-6.9 25.58-17.3l6.17 53.73 42.32-12.57-32.44-64.78Z' fill='%23FFDCBB'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M172.86 71.83c6.54 1.59 12.18 6.51 19.14 13.1a10.6 10.6 0 0 1 16.92 5.8c.78 3.01.29 6.1-1.15 8.62 3.34 2.8 7 5.67 11.1 8.53 9.76-10.58 17.7-52.13-1.17-51.16-20.04-37.5-69.8 3.79-81.98.06 1.53 15.3 11.94 24.93 37.14 15.05Z' fill='%236D5722'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='m339 282.24-39.4.15c43.2 101.37 65.74 154.44 67.59 159.22 4.16 10.76-4.65 27.15-8.42 35.95 12.28 5.73 10.97-15.48 26.45-7.97 14.13 6.86 24.88 19.27 41.2 8.77 2.02-1.29 4.21-6.15-1.1-9.95-13.24-9.46-32.32-26.03-34.9-31.48-3.52-7.44-20.65-59-51.42-154.7Z' fill='%23FFDCBB'/%3E%3Cpath d='m52.83 207.71 37.42 63.77 24.03-25.5-44.1-45.47c-7.74-24.74-13.1-35.97-16.1-33.66-4.5 3.45-.32 9.96-2.99 12.8-2.67 2.84-12.64-1.8-21.92-6.62-9.27-4.82-8.25.8-6.8 3.96 7.35 10.22 17.5 20.47 30.46 30.72Z' fill='%23FFDCBB'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='m272.05 219.52-26.46-16.69c-45.65 54.16-104.46 66.5-171.94-1.47L12.79 269.6c64.52 61.34 146.64 77.15 213.24 6.29 17.24-18.35 34.35-38.04 46.02-56.37Z' fill='%23AFB9C5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='m246.29 142.6-46.75 11.16c0 83.82-25.61 137.3-38.75 198.92h126.25c1.78 21.3 2.87 43.18 3.44 65.66h94.53C363.6 299.53 318.38 207.6 249.38 142.57h-3.06l-.02.03Z' fill='%23C5CFD6'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M267.12 233.1c3.26 52.24 1.34 92.1-5.74 119.58h25.66c-3.52-42.18-9.74-82.04-19.92-119.57Z' fill='%23000' fill-opacity='.1'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='m45.52 144.4-2.78-1.02-20.22 16.41h.01l9.3 53.16 2.57.94.01.07.06-.05.13.05-.03-.13L54.9 197.4l-9.22-53.01-20.37 16.5v-.07l20.22-16.4Z' fill='%23000'/%3E%3Cpath fill='%23B2D5F0' d='m44.74 148.23-17.67 14.35 7.66 43.8 17.67-14.35z'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' transform='matrix(-1 0 0 1 428.93 0)' d='M0 0h428.3v484H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
	--form-position: 1;
	--icon-position-left: calc(var(--block-width) - 30%);
	--icon-position-right: unset;
	--icon-position-top: -120px;
}

.ib-subscribe-v2 {
	--ib-grid: 1fr minmax(min-content, 686px);
	--icon-block-height: 484px;
	--icon-human: url("data:image/svg+xml,%3Csvg width='374' height='470' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M237.2 97.7c-1 23.7-9 75-19.4 80.2l-49.9-16v-.2a38.6 38.6 0 0 1-21-47l11.5-36a38.9 38.9 0 0 1 48.9-25l3.4 1a38.7 38.7 0 0 1 26.5 43Z' fill='%23191847'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M168.5 114a48.4 48.4 0 0 1-1.7-37.3c14.4-35.8 63-11.4 67 10.2 4 21.7-12.2 68.2-26.2 67.4-5.5-.3-15.4-7-24.4-17.3l-8.9 51.5-41.3-13.2 35.5-61.4Z' fill='%23FFDCBB'/%3E%3Cpath d='m326.2 280.8-55 43-13.3-30.2 55-24.8c15-19 23.6-27 25.6-24 3 4.5-3 8.8-1.5 12.2 1.5 3.4 12 2.7 22 1.6s7.3 3.4 5 5.7c-10.1 6.4-22.7 12-37.8 16.5Z' fill='%23FFDCBB'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='m60.5 313.4 36.9.2c-22.8 73.3-35 112.2-36.9 116.6-4 10.1 4.6 25.5 8.3 33.8-12 5.3-10.8-14.6-26-7.5-13.8 6.4-24.3 18-40.3 8.2-2-1.2-4.2-5.8 1-9.3 13-8.9 31.7-24.4 34.2-29.6 3.5-7 11-44.4 22.8-112.4Z' fill='%23FFDCBB'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='m165.3 159 15.2-2.5c56.6 48.8 29.8 140.2 126.3 112.6L320 292c-121.6 118.5-157-52-154.7-133Z' fill='%23E87613'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M98.8 350.3h135c6.1 0 5-8.9 4-13.3-10.2-51.8-50.4-107.6-50.4-181.2l-39-6.1c-32.1 51.7-43.2 115.3-49.6 200.6Z' fill='%23DDE3E9'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M99.9 200.5A22.3 22.3 0 0 1 86.4 189c-14.2-25.6-9-39.7 6.2-44.3 15.2-4.6 28.7 4.9 53 4.9 1.3 0 2.5 0 3.6.3l12.2.6c35 118.3 44.6 197.2 28.9 236.7H84.1a361 361 0 0 1-18.1 37H37c-2.7-88 18.3-162.5 62.9-223.8Z' fill='%23FF9B21'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M107.2 326.6c3.3 27.9 8.8 48 16.3 60.7H84c7.3-17 15-37.3 23.1-60.7Z' fill='%23000' fill-opacity='.1'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M181.6 111.3c-4.6 21-22.8 87.6-30.3 91.3l-40.6-58.2c12.6-48.9 34.2-23.2 48.7-68.4 2.2-1 4.3-2.2 6.4-3l.3-1.4c14.3-14.8 28.1-20.1 41.4-15.9 20 6.4 23.3 17.7 26.2 27.2-8.4 12.4-24.6 9.4-41.2 13.5a10 10 0 0 0-17.8 2.4 10 10 0 0 0 7 12.5Z' fill='%23191847'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M355.5 216.5h3.2l14 24.6-30.2 51h-3.2l-14-24.8 30.2-50.8Zm12 21 2 3.6-2-3.5Z' fill='%23000'/%3E%3Cpath fill='%23B2D5F0' d='m354.8 220.7 12.1 21.5-24.8 42-12.1-21.6z'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h374v470H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
	--form-position: 2;
	--icon-position-left: unset;
	/* --icon-position-right: calc(var(--block-width) - (var(--block-width) * 10%)); */
	--icon-position-right: calc(var(--block-width) - 26%);
	--icon-position-top: -110px;
}

.ib-ask-expert-v1 {
	--icon-human: url("data:image/svg+xml,%3Csvg width='450' height='446' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M229.2 90.3c-9-10.5-15-23.5-14-38 2.9-41.7 61-32.5 72.2-11.4 11.3 21 10 74.4-4.6 78.2-5.9 1.5-18.3-2.2-30.9-9.8l8 56.1H213l16.1-75Z' fill='%23FFDCBB'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M254.3 57c1.8 25 6.5 37.4 14.2 37.4 11.5 0 21.3-7.3 26.3-7.3 3.7 0 2.9 4.6.4 8-2 2.8-11.8 5.6-11.8 10 0 4.3 7.8 1 7.8 3.5 0 4.3 1.3 12.4-6.1 12.4-7.6 0-29.2-2.8-32.9-14a201 201 0 0 1-4.6-44.9h-1.4a11.7 11.7 0 0 0-8.1 20 249 249 0 0 1-9.3 12c-13-7.9-22.7-30.8-10-52.9a28.9 28.9 0 0 1 21-19.2 33.9 33.9 0 0 1 22.3-1.6 72.3 72.3 0 0 1 28 7.5c0 12.4-2.3 16-22.9 15.8a38 38 0 0 0-13 13.3Z' fill='%23B0B0B0'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='m95.6 273.7 34.5 5c-37 80.4-56.9 123-59.5 127.6-6 10.5 1 28.7 3.8 38.3-14 4-9.5-17.6-27.2-12.2-16.1 5-29.4 16-45.4 2.8-2-1.6-3.6-7 2.6-10 15.6-7.8 38.4-22 42-27.2 4.8-7.1 21.2-48.6 49.2-124.3Z' fill='%23FFDCBB'/%3E%3Cpath d='m385.5 187.6-31.6 91.3 35.5-32 15.3-49.3c13.5-21 11-25.5 7.9-30.8-3.5-6-3.9-6.9-9-7-5-.2-4.8-7-5-20-.2-13.2 3.1-27.7-6.2-14.1-3 16-8.7 40.3-7 61.9Z' fill='%23FFDCBB'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='m231.6 138.7 14.5-6.2c40.5 23 74.4 113 90.7 116 12.5 2.3 36-23.5 42.9-50.2l27 3c-5.5 49.5-52.4 119.7-83.8 110.3-50.2-15-80.6-120.8-91.3-173Z' fill='%23A9B5BD'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M166.4 337c61.2 6.5 109.4 6.5 144.5 0 4.4-.8 5-8.1 3-13-31.4-77.2-53-144.6-53-198.2-5.7 3-15.8 3.4-30.3 1.3C192 182.4 174 245.8 166.4 337Z' fill='%23323337'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M221 122.5h16.2c3.7 22.2 15.6 225.8 52.2 324H91.2c31.3-94 38.2-101.5 72.5-192-30.3 27.9-56.8 75-79.4 141.5l-37.1-9.5c27.6-119.2 84.4-206.7 170.3-262.7l.5-1.3h1.5l1.6-1-.1 1Z' fill='%23DDE3E9'/%3E%3Cpath d='M296.2 55.8c1.1-25.4-10.3-53.2-43.5-54.7-33.3-1.6-47 25.1-48.1 50.5l91.6 4.2Z' fill='%23FFE436'/%3E%3Cpath d='m204.6 51.6-.3 7-.3 7.2 50.5-4.8 53.9-5.1-53.7-2-50.1-2.3Z' fill='%23FFE436'/%3E%3Cpath d='M308.4 55.9s-15.7-8.2-30.4-5.7c-16 2.7 12.8 6 12.8 6l6.7.3 10.9-.6Z' fill='%23FFE436'/%3E%3Cpath d='M236.1 42.2a14.5 14.5 0 1 1-9.7-27.2 14.5 14.5 0 0 1 9.7 27.2Z' fill='%23FFF466'/%3E%3Cpath d='M234.8 23.4a6.7 6.7 0 1 1-4.5-12.6 6.7 6.7 0 0 1 4.5 12.6Z' fill='%23FFFAB8'/%3E%3Cpath d='m276.7 48.6 3.3-.4.6 6.8-3.3.3-.6-6.7ZM230.1 52l3.4-.3.6 6.8-3.4.3-.6-6.8Zm-28 2.5 3.4-.3.6 6.8-3.3.3-.7-6.8Z' fill='%23FFD000'/%3E%3Cpath d='M433.6 82h14.8v35.6l-2.8 17.7h-9.2l-2.8-17.7V82Zm-1.6 68.7c0-2.6.8-4.6 2.4-6a9 9 0 0 1 6.5-2.3c2.8 0 5 .8 6.7 2.3a7.5 7.5 0 0 1 2.4 6c0 2.5-.8 4.5-2.4 6a9.4 9.4 0 0 1-6.7 2.3 9 9 0 0 1-6.5-2.3 7.9 7.9 0 0 1-2.4-6Z' fill='%23fff'/%3E%3C/svg%3E");
	--ib-grid: 1fr minmax(min-content, 598px);
	--icon-block-height: 446px;
	--form-position: 2;
	--icon-position-right: calc(var(--block-width) - 26%);
	--icon-position-top: -85px;
}

.ib-ask-expert-v2 {
	--icon-human: url("data:image/svg+xml,%3Csvg width='439' height='501' viewBox='0 0 439 501' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M180.117 61.2429C173.35 53.3191 168.771 43.6083 169.536 32.7271C171.741 1.37544 215.485 8.27241 223.995 24.0961C232.504 39.9197 231.493 80.0577 220.495 82.8858C216.11 84.0137 206.767 81.2509 197.258 75.5328L203.226 117.66H167.984L180.117 61.2429Z' fill='%23FFDCBB'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M177.409 68.3004C172.986 48.6679 160.384 35.2851 162.309 26.5101C163.592 20.6602 167.011 17.0223 172.568 15.5965C175.441 3.99867 184.709 -0.934354 200.371 0.797462C223.864 3.39519 238.203 13.1289 232.011 34.5474C226.319 34.5474 219.447 32.4936 209.945 36.0124C206.93 37.1289 204.774 40.5912 203.476 46.3994H199.182C195.015 39.5067 190.905 36.9738 186.855 38.8007C182.804 40.6277 181.883 45.0653 184.092 52.1137L181.977 68.3004H177.409Z' fill='%23191847'/%3E%3Cpath d='M150.363 500.025C212.809 500.025 263.432 451.816 263.432 392.347C263.432 332.879 212.809 284.67 150.363 284.67C87.9172 284.67 37.2948 332.879 37.2948 392.347C37.2948 451.816 87.9172 500.025 150.363 500.025Z' fill='%239C9D9D'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M364.032 483.411C345.218 441.866 331.611 405.691 326.149 386.604C316.798 353.924 309.684 325.167 307.886 314.428C303.598 288.819 340.869 287.328 345.796 300.055C353.252 319.318 366.269 382.609 381.911 478.207L364.032 483.411ZM145.794 353.032C163.056 346.224 223.508 324.92 252.664 318.894C261.042 317.162 269.163 315.553 276.797 314.099C299.49 309.777 311.247 350.62 289.391 353.758C234.961 361.574 157.798 369.644 151.194 370.55C141.939 371.819 134.945 357.31 145.794 353.032Z' fill='%23FFDCBB'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M290.725 302.86L197.353 255.438V245.115H208.457C298.791 268.08 344.952 282.797 346.939 289.267C346.96 289.336 346.98 289.406 346.997 289.476C347.043 289.535 347.088 289.595 347.132 289.655C365.034 314.219 375.755 434.139 379.274 443.119L344.97 448.224C331.847 399.677 289.863 365.857 290.978 307.713C290.677 306.007 290.601 304.39 290.725 302.86Z' fill='%231F28CF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M205.111 331.023C196.567 329.317 188.7 327.794 181.968 326.616C138.483 319.007 125.802 295.784 133.3 245.115H213.42C226.508 248.866 294.524 277.323 329.814 292.458C353.171 302.476 345.808 338.588 332.581 347.986C332.509 348.563 332.271 348.954 331.847 349.13C260.696 378.551 204.408 363.114 185.605 368.046L176.908 340.674L205.111 331.023Z' fill='%232B44FF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M151.681 348.677C147.022 349.119 143.715 349.816 141.76 350.767C139.382 351.923 136.105 354.007 131.93 357.017C133.277 359.772 145.387 384.533 168.258 431.299C175.592 430.121 178.497 427.329 176.972 422.923C175.448 418.516 174.218 414.837 173.284 411.887L171.81 369.865C171.782 369.056 171.102 368.423 170.292 368.45C170.278 368.451 170.264 368.451 170.25 368.452L163.775 368.855C160.093 365.88 157.664 363.189 156.486 360.782C155.53 358.826 155 355.74 154.896 351.525L154.896 351.525C154.857 349.907 153.511 348.627 151.89 348.664C151.82 348.666 151.75 348.67 151.681 348.677Z' fill='%23E4E4E4'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M355.469 475.708C353.827 480.084 353.005 483.357 353.005 485.529C353.005 488.171 353.446 492.026 354.329 497.095C357.4 497.095 385.008 497.095 437.15 497.095C439.302 489.996 438.06 486.164 433.423 485.598C428.786 485.032 424.934 484.521 421.867 484.064L383.372 466.943C382.631 466.614 381.763 466.946 381.433 467.685C381.427 467.697 381.422 467.71 381.417 467.723L378.942 473.711C374.65 475.709 371.161 476.709 368.478 476.709C366.297 476.709 363.286 475.83 359.444 474.073L359.444 474.073C357.969 473.398 356.226 474.044 355.55 475.515C355.521 475.579 355.494 475.643 355.469 475.708Z' fill='%23E4E4E4'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M288.395 204.999L341.602 181.687C350.923 172.42 359.924 165.377 368.604 160.558C371.199 159.734 375.634 159.485 370.903 166.379C366.172 173.273 361.506 180.737 363.396 183.153C365.287 185.569 370.763 182.903 372.926 186.832C374.369 189.451 365.138 192.585 345.234 196.232L305.384 226.714L288.395 204.999ZM73.2832 211.42L103.374 217.376C73.1126 273.64 56.8841 303.46 54.6883 306.836C49.7476 314.432 54.3573 328.352 56.0602 335.683C45.3775 338.164 49.5904 322.123 36.0718 325.472C23.7326 328.529 13.2705 336.375 1.76466 325.794C0.350091 324.493 -0.685441 320.427 4.13754 318.341C16.1534 313.146 33.9057 303.417 36.7843 299.64C40.7097 294.489 52.876 265.082 73.2832 211.42Z' fill='%23FFDCBB'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M185.157 99.1014L197.855 96.9286C225.512 123.694 236.798 187.998 255.229 196.51C272.655 204.557 297.357 196.77 326.72 186.255L335.712 206.299C309.033 235.095 252.197 259.423 229.159 245.535C192.325 223.33 183.822 144.021 185.157 99.1014Z' fill='%23DB2721'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M129.805 258.3C180.718 258.3 218.168 258.3 242.156 258.3C247.29 258.3 246.323 250.904 245.581 247.172C237.016 204.101 203.581 157.671 203.581 96.36L171.173 91.29C144.368 134.3 135.099 187.254 129.805 258.3Z' fill='%23DDE3E9'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M118.599 214.692C95.6959 255.909 76.4442 285.583 60.8445 303.715L37.2947 299.113C52.4644 205.253 96.3937 135.979 169.083 91.29H174.932L181.914 91.29C211.007 190.232 219.028 256.157 205.976 289.065H104.842C106.442 264.986 111.572 239.521 118.599 214.692H118.599Z' fill='%23FF4133'/%3E%3C/svg%3E%0A");
	--ib-grid: 1fr minmax(min-content, 598px);
	--icon-block-height: 503px;
	--form-position: 2;
	--icon-position-right: calc(var(--block-width) - 26%);
	--icon-position-top: -85px;
}

.ib-ask-expert-v2 .form-row {
	grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 518px) {
	.ib-ask-expert-v2 .form-row {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(1fr);
	}
}

.illustration-block .ib--main {
	background-color: transparent;
	padding: 21px 0 20px 0;
	/* background-color: var(--dark-blue);
	box-shadow: 500px 0 var(--dark-blue),
				500px 0 var(--dark-blue); */
	z-index: 0;
	grid-column: var(--form-position);
}

.ib--article {
	color: #ffffff;
	font-size: inherit;
}


.ib--heading {
	font-size: var(--subheading-fs);
	font-weight: var(--subheading-fw);
}

.ib-ask-expert-v2 .ib--heading {
	font-size: var(--heading-fs);
	font-weight: var(--heading-fw);
}

.form-row__ib {
	grid-template-columns: 1.3fr 1fr;
	gap: 15px;
}

.ib--text {
	margin: 41px 0 20px 0;
}

.ib--bg__icon {
	background-image: var(--icon-human);
	background-repeat: no-repeat;
	background-position: right center;
	background-size: contain;
}

.ib--icon-block {
	position: absolute;
	display: block;
	left: var(--icon-position-left);
	right: var(--icon-position-right);
	top: var(--icon-position-top);
	height: var(--icon-block-height);
	width: 429px;
}

.vcc-footer {
	display: grid;
	grid-template-columns: 267px 1fr 1fr 1fr;
	grid-template-rows: repeat(3, max-content);
	row-gap: 31px;
	background-color: var(--dark-blue);
	/* background-image: linear-gradient(to top, #ffffff 59px, var(--dark-blue) 59px 100%); */
	box-shadow: 1040px 0 var(--dark-blue),
				-1040px 0 var(--dark-blue);
	max-width: var(--block-width);
	margin: 0 auto;
	padding: 52px 0 0 0;
}

.fp--links-list {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
}

.footer--nav-links {
	display: grid;
	grid-template-rows: repeat(3, max-content);
	row-gap: 45px;
	grid-column: span 3;
}

.fn--nav-wrapper {
	display: grid;
	grid-template-columns: repeat(3, max-content);
	gap: 60px;
}

.fn--cite-navigation {
	list-style: none;
	padding: 0; margin: 0;
}

.fn--cite-navigation li:not(:last-child) {
	margin-bottom: 7px;
}

.cn--heading {
	font-weight: var(--subheading-fw);
}

.fn--our-sources {
	list-style: none;
	padding: 0; margin: 0;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 23px;
}

.footer--contacts {
	font-style: normal;
	grid-column: span 4;
	display: grid;
	grid-template-columns: repeat(2, max-content);
	justify-content: center;
	gap: 25px;
	margin-top: 11px;
}

.link__tel,
.link__mail {
	display: grid;
	align-items: center;
	grid-template-columns: 30px max-content;
	gap: 10px;
	margin-bottom: 16px;
}

.link__tel::before,
.link__mail::before {
	display: inline-block;
	width: 30px; height: 30px;
	content: '';
	background-position: center;
	background-repeat: no-repeat;
	background-size: 30px;
}

.link__tel::before {
	background-image: url("data:image/svg+xml,%3Csvg width='31' height='31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m19.56 20.64 2.1-2.1a2.05 2.05 0 0 1 2.2-.45l2.55 1.02a2.04 2.04 0 0 1 1.28 1.87v4.7a2.04 2.04 0 0 1-2.14 2C7.62 26.59 4 11.39 3.31 5.59A2.03 2.03 0 0 1 5.35 3.3h4.52a2.02 2.02 0 0 1 1.88 1.28l1.02 2.56a2.03 2.03 0 0 1-.44 2.2l-2.1 2.1s1.21 8.18 9.33 9.19Z' fill='%23fff'/%3E%3C/svg%3E");
}

.link__mail::before {
	background-image: url("data:image/svg+xml,%3Csvg width='31' height='31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M28.16 5.95H2.84c-.54 0-.98.4-.98.87v17.36c0 .48.44.87.98.87h25.32c.54 0 .98-.4.98-.87V6.82c0-.48-.44-.87-.98-.87Zm-1.22 3V23.1H4.06V8.96l-.84-.58L4.42 7l1.3.9h19.57l1.3-.9 1.2 1.37-.85.58ZM25.3 7.92l-9.79 6.78-9.8-6.8-1.3-.9L3.2 8.36l.84.59 10.4 7.2c.3.2.67.32 1.05.32.37 0 .74-.11 1.04-.32l10.4-7.2.84-.58L26.58 7l-1.3.9Z' fill='%23fff'/%3E%3C/svg%3E");
}

.footer--copyright {
	grid-column: span 4;
	background-color: #ffffff;
	color: var(--dark-blue);
	text-align: center;
	box-shadow: 1040px 0 #ffffff,
				-1040px 0 #ffffff;
	font-weight: var(--regular-fw);
	font-size: var(--menu-fs);
	padding: 28px 0 59px 0;
}

.footer--copyright * {
	font-weight: inherit; font-size: inherit;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}
